body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vid-title{
  margin: -24px;
  padding: 0;
  background: linear-gradient(90deg, rgba(3,228,116,1) 0%, rgba(24,119,231,1) 100%);
  width: 1390px;
}

.vid-title h2{
  text-align: left;
  margin-left: 30px;
  font-size: 28px;
}

.heading{
    margin-top: 40px;
    text-align: center;
}

#heading1{
   margin-top: 20px;
   text-align: center;
}

.fcontainer{
  background: #c0d8f7;
  width: 500px;
  height: 300px;
  border-radius: 6%;
  margin-left: 420px;
  border: 2px solid darkcyan;
  box-shadow: 20px 20px 10px lightgray;
}

input{
  width: 200px;
  height: 25px;
  margin-left: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

label.ibox{
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn{
    font-size: 20px; 
    height: 30px;
    width: 80px;
    margin-left: 210px;
    margin-top: 10px;
}

.btn1{
  font-size: 20px; 
  height: 30px;
  width: 140px;
  margin-left: 600px;
  margin-top: 20px;
}

button{
  font-size: 20px; 
  height: 30px;
  width: 80px;
  margin-left: 640px;
  margin-top: 20px;
}

.container{
    background-color: #c0d8f7;
    width: 100vw;
    height: 1800px;
}
